html {
    width: 50%;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.cls1 {
    width: 80%;
    border: dashed black 2px;
    background: greenyellow; /* Цвет фона */
}