html {
    width: 50%;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.cls1
{
    width: 80%;
    border: dashed red 2px;
    background: chartreuse; /* Цвет фона */
    padding: 10px; /* Поля */
    -moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Safari и Chrome */
    box-sizing: border-box; /* Для IE и Opera */
}

.cls2
{
    width: 80%;
    border: dashed black 5px;
    background: #E2FF2B; /* Цвет фона */
    padding: 5px; /* Поля */
    -moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Safari и Chrome */
    box-sizing: border-box; /* Для IE и Opera */

}